@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4b59;
  border-radius: 20px;
}
